extends ../layout

block content
  h1 MisterAudio.js
  ul
    li
      a(href="/restart-audio") Restart Audio Services
    li
      a(href="/resume") Resume
    li
      a(href="/pause") Pause
    li
      a(href="/stop") Stop
