extends ../layout

block content
  h1 MisterAudio.js
  ul
    li
      a.js-cmd(href="/restart-audio") Restart Audio Services
    li
      a.js-cmd(href="/play") Play
    li
      a.js-cmd(href="/pause") Pause
    li
      a.js-cmd(href="/stop") Stop
    li
      a.js-cmd(href="/currentSong") Current Song
  div
    strong Action &nbsp;
    span#action not set
    br
    strong Value &nbsp;
    span#value not set
